.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0f3820; 
    gap: 60px; 
    margin: 80px 150px; 
}

.about-title h1 {
    font-size: 64px; 
    font-weight: 700;
    padding: 0 20px;
    text-align: center;
}

.about-section {
    display: flex;
    gap: 60px; 
    align-items: flex-start; 
}

.a-left img {
    height: 300px;   
    width: 300px;
    
    object-fit: cover;
}

.a-right {
    max-width: 600px;
}

.para p {
    font-size: 18px; 
    line-height: 1.6; 
    margin-bottom: 20px;
}

.skills ul {
    list-style: none; 
    padding: 0;
}

.skills li {
    font-size: 16px;
    margin-bottom: 10px;
}
