.page1{
    display: flex;           
    align-items: center;     
    justify-content: space-between; 
    padding: 50px;          
    gap: 10px; 
    margin-top: 80px;  
     line-height: 1.1;  
     background-color: #0f3820;          
}
.text-section .intro {
    
    font-size: 48px;
    font-weight: 500;
    gap: 5px;
}
.text-section .title {
    font-size: 96px;       
    font-weight: bold;
    margin: 0%;
}
.text-section .location {
    font-size: 40px;
    color: gray;
}
.text-section .resume-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: wheat;
    border-radius: 20px;
    color:#0f3820 ;
}


.pp{
    
    height: 370px;          
    width: 370px;
    border-radius: 50%;    
    object-fit: cover;      
}
